In [6]:
import pandas as pd
import numpy as np
import sqlite3 as lite
import scipy
from scipy.stats import spearmanr
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [8]:
conn = lite.connect("nigeria.db")

In [42]:
#zone, state, lga, sector, ea, hhid, plotid, cropid, cropname, cropcode, sa3iq3, sa3iq5a, sa3iq5b, sa3iq5c, sa3iq6i, sa3iq6ii, sa3iq6a, sa3iq6d1 
#sa3iiq3, sa3iiq4, sa3iiq5a, sa3iiq5b, sa3iiq6, sa3iiq11a, sa3iiq11b, sa3iiq12a, sa3iiq12b, sa3iiq13a, sa3iiq13b, sa3iiq14a, sa3iiq14b, sa3iiq15a, sa3iiq15b, sa3iiq16a, sa3iiq16b, sa3iiq17a, sa3iiq17b, sa3iiq18a, sa3iiq18b, sa3iiq19, sa3iiq20a, sa3iiq20b, sa3iiq21 
harv_data = pd.read_sql_query("select * from secta3i LEFT JOIN secta3ii ON secta3i.hhid = secta3ii.hhid", conn)
harv_data = pd.DataFrame(harv_data)
harv_data.head()

,index,zone,state,lga,sector,ea,hhid,plotid,cropid,cropname,...,sa3iiq21,sa3iiq22a,sa3iiq22b,sa3iiq23a,sa3iiq23b,sa3iiq24,sa3iiq25,sa3iiq25_os,sa3iiq26,sa3iiq27
0,0,4,1,105,2,0,10009,1,1,CASSAVA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,0,4,1,105,2,0,10009,1,1,CASSAVA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2,0,4,1,105,2,0,10009,1,1,CASSAVA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
3,1,4,1,105,2,0,10009,1,2,MAIZE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
4,1,4,1,105,2,0,10009,1,2,MAIZE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [31]:
##o for rows, 1 for columns
na_vals = harv_data.apply(pd.isnull, axis = 1)
na_vals.describe()

,index,zone,state,lga,sector,ea,hhid,plotid,cropid,cropname,...,sa3iiq21,sa3iiq22a,sa3iiq22b,sa3iiq23a,sa3iiq23b,sa3iiq24,sa3iiq25,sa3iiq25_os,sa3iiq26,sa3iiq27
count,43384,43384,43384,43384,43384,43384,43384,43384,43384,43384,...,43384,43384,43384,43384,43384,43384,43384,43384,43384,43384
unique,1,1,1,1,1,1,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
freq,43384,43384,43384,43384,43384,43384,43384,43384,43384,42406,...,40633,40629,42841,40678,42743,40629,40629,42972,40632,43300

In [34]:
pd.read_sql_query("select * from secta3i group by hhid", conn)

,index,zone,state,lga,sector,ea,hhid,plotid,cropid,cropname,...,sa3iq6ii_os,sa3iq6a,sa3iq6b,sa3iq6c1,sa3iq6c2,sa3iq6d1,sa3iq6d2,sa3iq6d2_os,sa3iq6e1,sa3iq6e2
0,8,4,1,105,2,0,10009,3,4,BANANA,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,12,4,1,104,2,1364,10011,1,4,PLANTAIN,...,None,5000.0,2.0,NaN,NaN,16.0,111.0,None,1.0,NaN
2,20,4,1,104,2,1364,10012,2,3,THREE LEAVE YAM,...,None,4500.0,2.0,NaN,NaN,13.0,80.0,None,2.0,4.0
3,23,4,1,104,2,1364,10013,2,1,CASSAVA,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
4,27,4,1,104,2,0,10015,2,2,MAIZE,...,None,2400.0,1.0,9.0,2015.0,NaN,NaN,None,2.0,NaN
5,32,4,1,104,2,1364,10016,1,5,MAIZE,...,None,1800.0,1.0,10.0,2015.0,NaN,NaN,None,2.0,NaN
6,36,4,1,104,2,1364,10017,1,4,PINAPPLE,...,None,13000.0,2.0,NaN,NaN,13.0,81.0,None,2.0,NaN
7,41,4,1,104,2,1364,10018,1,5,PLANTAIN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
8,45,4,1,104,2,1364,10019,2,3,PLANTAIN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
9,52,4,1,106,2,880,10021,4,1,CASSAVA,...,None,10000.0,2.0,NaN,NaN,4.0,131.0,None,2.0,NaN
10,58,4,1,106,2,880,10022,2,2,MAIZE,...,None,4000.0,1.0,9.0,2015.0,NaN,NaN,None,2.0,1.0
11,64,4,1,106,2,880,10023,3,1,OLD CASSAVA,...,None,22500.0,2.0,NaN,NaN,11.0,131.0,None,1.0,2.0
12,69,4,1,106,2,880,10024,2,3,OIL PALM TREE,...,None,12000.0,2.0,NaN,NaN,1.0,191.0,None,2.0,NaN
13,74,4,1,106,2,880,10025,3,1,CASSAVA,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
14,83,4,1,106,2,880,10027,3,5,MAIZE,...,None,2500.0,1.0,10.0,2015.0,NaN,NaN,None,2.0,NaN
15,88,4,1,106,2,880,10029,2,2,MAIZE,...,None,4800.0,1.0,8.0,2015.0,NaN,NaN,None,1.0,2.0
16,94,4,1,106,2,880,10030,3,1,CASSAVA,...,None,13000.0,2.0,NaN,NaN,6.0,131.0,None,1.0,2.0
17,96,4,1,111,1,1146,10033,1,2,PLANTAIN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
18,100,4,1,102,1,1690,10057,1,4,PLANTAIN,...,None,16500.0,2.0,NaN,NaN,7.0,101.0,None,1.0,2.0
19,111,4,1,107,2,1044,10061,2,6,CASSAVA,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
20,122,4,1,107,2,1044,10062,3,5,OIL PALM TREE,...,None,22000.0,2.0,NaN,NaN,83.0,102.0,None,1.0,NaN
21,131,4,1,107,2,1044,10063,4,4,PLANTAIN,...,None,10500.0,1.0,1.0,2016.0,NaN,NaN,None,5.0,NaN
22,137,4,1,107,2,1044,10064,2,1,CASSAVA,...,None,38400.0,2.0,NaN,NaN,15.0,151.0,None,1.0,2.0
23,144,4,1,102,1,0,10065,3,2,CASSAVA,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
24,153,4,1,107,2,1044,10066,5,2,OIL PALM TREE,...,None,16000.0,1.0,1.0,2016.0,NaN,NaN,None,2.0,NaN
25,160,4,1,107,2,1044,10067,3,3,OIL PALM TREE,...,None,16000.0,1.0,1.0,2015.0,NaN,NaN,None,2.0,NaN
26,167,4,1,107,2,1044,10068,3,3,OIL PALM TREE,...,None,20000.0,1.0,1.0,2016.0,NaN,NaN,None,2.0,NaN
27,172,4,1,107,2,1044,10069,2,2,MELON,...,None,3600.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,2.0
28,178,4,1,107,2,0,10070,3,3,MAIZE,...,None,11400.0,1.0,11.0,2015.0,NaN,NaN,None,2.0,NaN
29,185,4,1,117,2,560,10071,2,4,None,...,None,15000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,11869,3,36,3612,1,1474,360071,1,4,RICE,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2826,11873,3,36,3612,1,1474,360072,1,4,RICE,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2827,11877,3,36,3612,1,1474,360073,1,4,MAIZE,...,None,168000.0,1.0,10.0,2015.0,NaN,NaN,None,1.0,NaN
2828,11880,3,36,3612,1,1474,360074,1,3,G/NUT,...,None,150000.0,1.0,10.0,2015.0,NaN,NaN,None,1.0,2.0
2829,11884,3,36,3612,1,1474,360076,1,4,BEANS,...,None,70000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2830,11887,3,36,3612,1,1474,360077,1,3,MILLET,...,None,107800.0,1.0,12.0,2015.0,NaN,NaN,None,1.0,NaN
2831,11890,3,36,3612,1,1474,360078,1,3,BEANS,...,None,112000.0,1.0,12.0,2015.0,NaN,NaN,None,1.0,NaN
2832,11893,3,36,3612,1,1474,360079,1,3,MILLET,...,None,120000.0,1.0,8.0,2015.0,NaN,NaN,None,1.0,NaN
2833,11896,3,36,3612,1,1474,360080,1,3,G/CORN,...,None,52500.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2834,11899,3,36,3606,2,1956,360081,1,3,MILLET,...,None,80000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2835,11902,3,36,3606,2,1956,360082,1,3,MILLET,...,None,70000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2836,11906,3,36,3606,2,1956,360083,1,4,MAIZE,...,None,80000.0,1.0,10.0,2015.0,NaN,NaN,None,4.0,NaN
2837,11910,3,36,3606,2,1956,360084,1,4,PEPPER,...,None,209000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,NaN
2838,11916,3,36,3606,2,1956,360085,2,3,RICE,...,None,104000.0,1.0,10.0,2015.0,NaN,NaN,None,1.0,NaN
2839,11918,3,36,3606,2,1956,360087,1,2,GUINEA CORN,...,None,98000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2840,11920,3,36,3606,2,1956,360088,1,2,GUINEA CORN,...,None,105000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2841,11925,3,36,3606,2,1956,360089,1,5,GUINEA CORN,...,None,126000.0,1.0,11.0,2015.0,NaN,NaN,None,1.0,NaN
2842,11930,3,36,3606,2,1956,360090,2,2,RICE,...,None,120000.0,1.0,9.0,2015.0,NaN,NaN,None,1.0,NaN
2843,11933,1,25,2504,1,0,370010,1,3,PEPPER,...,None,8000.0,1.0,8.0,2015.0,NaN,NaN,None,2.0,NaN
2844,11934,1,37,3706,1,156,370017,1,1,UGU,...,None,50000.0,1.0,12.0,2015.0,NaN,NaN,None,1.0,NaN
2845,11935,1,37,3706,1,156,370018,1,1,MAIZE,...,None,45000.0,1.0,10.0,2015.0,NaN,NaN,None,1.0,NaN
2846,11937,1,37,3706,1,156,370019,2,2,RICE,...,None,168000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,NaN
2847,11938,1,37,3706,2,6,370031,1,1,YAM FARM,...,None,300000.0,1.0,1.0,2015.0,NaN,NaN,None,1.0,NaN
2848,11940,1,37,3706,2,6,370032,2,1,YAM,...,None,200000.0,1.0,2.0,2016.0,NaN,NaN,None,1.0,NaN
2849,11943,1,37,3706,2,6,370033,2,2,YAM,...,None,2000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,NaN
2850,11946,1,37,3706,2,6,370034,2,3,BEANS,...,None,15000.0,1.0,12.0,2015.0,NaN,NaN,None,1.0,2.0
2851,11950,1,37,3706,2,6,370035,1,4,CASHEW,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2852,11952,1,37,3706,2,6,370038,2,2,MAIZE FARM,...,None,20000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,NaN
2853,11953,1,37,3706,2,6,370039,1,1,YAM,...,None,500000.0,1.0,1.0,2016.0,NaN,NaN,None,1.0,NaN
2854,11955,1,37,3706,2,6,370040,2,1,BEANS,...,None,20000.0,1.0,12.0,2015.0,NaN,NaN,None,1.0,NaN